/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-oct-2018, 18:12:47
    Author     : Alexm
*/
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Delius|Overlock:400i');

html,
body {
    margin: 0px;
    font-family: 'Delius';
    font-size: 1.3vw;
    overflow-x: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../Comun/img/cab.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -7vw;
}

.izquierdaCabecera {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

}

.logo {
    margin: 0.4vw;
    margin-left: 3vw;
}

.logo img {
    height: 8vw;
    width: 13vw;
}

.nombreInsti {
    font-size: 3.6vw;
    color: white;
    font-family: 'Overlock';
    margin-right: 2vw;
}

.lenguas {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    margin-top: 0.3vw;
}

.lenguas span {
    height: 2vw;
    width: 4vw;
    border-radius: 0.5vw;
    border: 0.05vw solid black;
    border-top-width: 0vw;

}

.lenguas span:nth-child(1) {
    background-image: url(../Comun/img/bandera_inglaterra.png);
    background-size: contain;
    margin-right: 1vw;
    margin-left: 0.35vw;
    background-repeat: round;
}

.lenguas span:nth-child(2) {
    background-image: url(../Comun/img/bandera_españa.png);
    background-size: contain;
    background-repeat: round;
}
